wheel
Flask
flask_restful
flask_jwt_extended==3.24.1
flask_cors
flask_sockets
sentry-sdk[flask]
raven
gevent
gevent-websocket
greenlet
pyJWT
hyper
pymongo
bcrypt
gunicorn
Jinja2
Werkzeug==1.0.1
boto3==1.18.60
pytest
pytest-gevent
pytest-ordering
rq
rq_dashboard
rq-retry
redis
newrelic
pillow
requests
elasticsearch==7.12.1
requests-aws4auth
twilio==6.27.1
python-dotenv
phonenumbers
dnspython
oauth2client
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
six>=1.13.0
apscheduler
requests-oauthlib
webargs==8.0.0
slack_sdk
gspread
